{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_title.html' %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-normal">Восстановление пароля</h4>
            </div>
            <div class="card-body m-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label for="email">Введите вашу почту, мы пришлем на нее новый пароль:</label>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-2 mb-3">
                            <input type="text" id="email" name="email" class="form-control"/>
                        </div>

                    </div>
                        <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
                        <a class="btn btn-outline-danger" href="{% url 'catalog:list' %}">Отменить</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}