{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_title.html' %}
{% load customtags %}
<div class="row">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{% mymedia object.image %}" class="card-img-top">
            <div class="card-header text-center">
                <a href="/products/{{ object.id }}">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </a>
                <h6 class="my-0 font-weight-normal" style="color: gray;">{{ object.category }}</h6>
            </div>
            <div class="card-body text-center">
                <h1 class="card-title pricing-card-title text-center">$ {{ object.price }}</h1>
                <p class="card-text text-center">{{ object.description|truncatechars:100}}</p>
                <button type="button" class="btn btn-lg btn-block btn-outline-success btn-center">Купить
                </button>
            </div>
            <div class="card-footer text-muted">
                <h6 class="my-0 font-weight-normal mt-2" style="color: gray;">Создано:
                    {{object.created_at}}</h6>
                <h6 class="my-0 font-weight-normal mb-2" style="color: gray;">Обновлено:
                    {{object.updated_at}}</h6>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}