{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_title.html' %}
{% load customtags %}
<a href="{% url 'catalog:create_item' %}" class="btn btn-outline-primary my-2">+</a>
<div class="row">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{% mymedia object.image %}" class="card-img-top">
            <div class="card-header text-center">
                <a href="/products/{{ object.id }}">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </a>
                <h6 class="my-0 font-weight-normal" style="color: gray;">{{ object.category }}</h6>
                <h6 class="my-0 font-weight-normal" style="color: gray;">Версия {{ object.versions.first }}</h6>
            </div>
            <div class="card-body text-center">
                <h1 class="card-title pricing-card-title text-center">$ {{ object.price }}</h1>
                <p class="card-text text-center">{{ object.description|truncatechars:100}}</p>
                <div class="btn-group">
                    {% if perms.catalog.unpublish and perms.catalog.change_description and perms.catalog.change_category %}
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'catalog:update_item' object.pk %}">Редактировать
                    </a>
                    {% elif user == object.owner %}
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'catalog:update_item' object.pk %}">Редактировать
                    </a>
                    {% endif %}
                    <a type="button" class="btn btn-sm btn-outline-danger"
                       href="{% url 'catalog:delete_item' object.pk %}">Удалить</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                <h6 class="my-0 font-weight-normal mt-2" style="color: gray;">Создано: {{object.created_at}}</h6>
                <h6 class="my-0 font-weight-normal mb-2" style="color: gray;">Обновлено: {{object.updated_at}}</h6>
                <h6 class="my-0 font-weight-normal mb-2" style="color: gray;">Владелец: {{ object.owner.email }}</h6>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}